<?xml version="1.0" encoding="utf-8" ?>
<configuration>


  <appSettings>
    <!-- use appSetting to configure base address provided by host -->
    <add key="baseAddress" value="http://localhost:8000/servicemodelsamples/service" />
  </appSettings>

  <system.serviceModel>
    <services>
      <!-- This section is optional with the default configuration introduced
         in .NET Framework 4. -->
      <service
          name="ConsoleApplication1.SimpleService">
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8000/SimpleService"/>
          </baseAddresses>
        </host>
        <endpoint address="net.tcp://localhost:9000/servicemodelsamples/service"
                  binding="netTcpBinding"
                  contract="ConsoleApplication1.ISimpleService" />
        <!-- the mex endpoint is another relative address exposed at 
             http://localhost:8000/SimpleService/mex -->
        <endpoint address="mex"
                  binding="mexHttpBinding"
                  contract="IMetadataExchange" />
      </service>
    </services>

    <!--For debugging purposes set the includeExceptionDetailInFaults attribute to true-->
    <behaviors>
      <serviceBehaviors>
        <behavior>
          <serviceMetadata httpGetEnabled="True" httpGetUrl="http://localhost:8000/SimpleService/mex"/>
          <serviceDebug includeExceptionDetailInFaults="False" />
        </behavior>
      </serviceBehaviors>
    </behaviors>

  </system.serviceModel>  

  <!--<system.serviceModel>
        <behaviors>
            <serviceBehaviors>
              <behavior name="gatewayBehavior">
                <serviceMetadata httpGetEnabled="True" httpGetUrl="http://localhost:63004/SimpleService"/>
              </behavior>
            </serviceBehaviors>
        </behaviors>
        <services>
            <service name="ConsoleApplication1.SimpleService" behaviorConfiguration="gatewayBehavior">
                <endpoint address="net.tcp://localhost:63003/SimpleService" binding="netTcpBinding" contract="ConsoleApplication1.ISimpleService">
                </endpoint>
                <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
                <host>
                    <baseAddresses>
                        <add baseAddress="http://localhost:8733/Design_Time_Addresses/ConsoleApplication1/SimpleService/" />
                    </baseAddresses>
                </host>
            </service>
        </services>
    </system.serviceModel>-->
</configuration>