<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1" />
    </startup>
    <system.serviceModel>
        <bindings>
            <netTcpBinding>
                <binding name="NetTcpBinding_ISimpleService" />
            </netTcpBinding>
        </bindings>
        <client>
            <endpoint address="net.tcp://localhost:9000/servicemodelsamples/service"
                binding="netTcpBinding" bindingConfiguration="NetTcpBinding_ISimpleService"
                contract="ServiceReference1.ISimpleService" name="NetTcpBinding_ISimpleService">
                <identity>
                    <userPrincipalName value="barbers@moneycorp.local" />
                </identity>
            </endpoint>
        </client>
    </system.serviceModel>
</configuration>